<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello EJS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css
    ">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    

    <link rel="stylesheet" type="text/html" href="../public/style.css">
    <link rel="stylesheet" type="text/html" href="../public/employeestyle.css">
    
    <script src="//cdn.jsdelivr.net/bluebird/3.5.0/bluebird.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.js"></script>
  
    <style>
      *{
        font-style: normal !important;
      }
    </style>
</head>
  <body style="background-color: white;">  
      
    <div style="font-style:normal !important" id="root"></div>

    

    <script type="text/javascript" src="/employee.bundle.js"></script>
    
    </script>
    </body>
    </html>